<div class="container d-inline align-items-center justify-content-center text-center h-100vh">
  <div class="d-inline align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="row row-cols-2">
      <div class="col">
        <div class="small-box bg-gradient-success">
          <div class="inner">
            <h1>{{users.length}}</h1>
            <p>User Registrations</p>
          </div>
          <div class="icon">
            <i style="font-size:110px" class="fa">&#xf007;</i>
          </div>
          <a class="small-box-footer" [routerLink]="'/viewUser'">
            More info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
        <app-user></app-user>
      </div>
      <div class="col">
        <div class="small-box bg-info">
          <div class="inner">
            <h1>{{ShowPost.length}}</h1>
            <p>post</p>
          </div>
          <div class="icon">
            <i style="font-size:110px" class="fa">&#xf055;</i>
          </div>
          <a class="small-box-footer" [routerLink]="'/viewPost'">
            More info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
        <View-Post></View-Post>
      </div>
    </div>
  </div>
</div>

