<div class="block">
<div class="d-grid gap-2 d-md-flex mr-2 justify-content-md-end">
  <a [routerLink]="'/post'" class="btn btn-primary btn-custom mr-2" id="Aimages">
    <img src="/assets/more.png" width="25px" height="25px" alt="Image Alt Text" class="mr-1"> <h4 class="post mb-0">POST</h4>
  </a>
  <a  class="btn btn-primary btn-custom mr-2" id="Aimages">
    <img src="/assets/search.png" width="25px" height="25px" alt="Image Alt Text" class="mr-1"> <h4 class="search mb-0">SEARCH</h4>
  </a>
</div>
</div>

<div class="card mb-3 mx-auto" style="max-width: 540px;"*ngFor="let post of ShowPost">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">{{ post.firstname }}</h1>
        <p class="card-text">{{ post.content }}</p>
        <p class="card-text"><small class="text-body-secondary">{{ post.timestamp | date:'yyyy-MM-dd' }}</small></p>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>